h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* SemiBold 600 */
/* Bold 700 */
/* Regular 400 */

a {
    text-decoration: none;
    color: #1B1B1B;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #1B1B1B;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.col-80 {
    width: 80%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.content-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

/* _____!HEADER!_____ */

header {
    background: white;
    padding: 20px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

header .logo {
    width: 54px;
    height: 68px;
    display: block;
}

header .logo img {
    width: 100%;
}

header .nav-switch {
    border: 2px solid #4D1299;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 3px;
    display: flex;
    justify-content: space-around;
}

header .nav-switch a {
    font-weight: 600;
    width: 54px;
    text-align: center;
    color: #1B1B1B;
    padding: 3px 0 4px;
    margin: 0 2px;
    font-size: 14px;
    background: white;
    transition: all .3s ease-out;
}

header .nav-switch a.active,
header .nav-switch a:hover {
    background: #4D1299;
    color: white;
    border-radius: 25px;
}

header .nav-menus a {
    font-size: 18px;
    transition: all .3s ease-out;
    margin: 0 25px;
}

header .nav-menus a:hover {
    color: #4D1299;
    border-bottom: 1px solid #4D1299;
}

header .phone {
    padding: 18px 26px;
    border: 2px solid #4D1299;
    font-size: 18px;
    font-weight: 600;
    color: #4D1299;
    border-radius: 25px;
}

header .phone:hover {
    color: white;
    background: #4D1299;
}

/* _____!MAIN!_____ */

.btn {
    background: #4D1299;
    color: white;
    border: 2px solid #4D1299;
    border-radius: 50px;
    padding: 18px 26px;
    cursor: pointer;
    transition: .3s ease-out;
    display: inline-block;
}

.btn:hover {
    background: white;
    color: #4D1299;
}

.col .number {
    color: #4D1299;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
}

section.bg-gray {
    background: #F4F4F8;
}

.section-1 {
    padding: 150px 0 120px;
    overflow: hidden;
}

.section-1 h1 {
    font-size: 55px;
    line-height: 1.15;
}

.section-1 h1 span {
    color: #4D1299;
}

.section-1 p {
    font-size: 18px;
    /* max-width: 80%; */
}

.section-1 .main-info {
    padding-bottom: 250px;
}

.section-1 .btn.make-order {
    margin-top: 46px;
}

.section-1 .col {
    position: relative;
}

.section-1 .peoples {
    position: absolute;
    top: 0;
    left: 0;
    width: 840px;
}

.section-1 .privilege .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}

.section-1 .privilege .icon,
.section-3 .advantages .icon {
    height: 135px;
    width: 135px;
    position: relative;
    margin-bottom: 50px;
}

.section-1 .privilege .icon img,
.section-3 .advantages .icon img {
    height: 100%;
    width: 100%;
}

/* .section-1 .privilege .icon::before {
    content: "";
    background: url(../images/home-page-pictures/ellipse.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;

} */

.section-1 .privilege h2,
.section-3 .advantages h2 {
    font-size: 22px;
    font-weight: 600;
}

.section-1 .privilege h2,
.section-1 .privilege p,
.section-3 .advantages h2,
.section-3 .advantages p {
    text-align: center;
}

.section-1 .privilege p span,
.section-2 p span,
.section-3 .advantages p span,
.section-5 p span {
    font-weight: 700;
}

.section-2 .container {
    padding: 116px 0;
}

.section-2 .col {
    background: #F4F4F8;
    padding: 40px;
    margin-bottom: 148px;
    width: calc(100% /2 - 100px);
    border-radius: 30px;
    text-align: left;
}

.section-2 .ps p {
    margin-top: 78px;
    font-size: 16px;
    opacity: 60%;
}

.section-3 .advantages .col {
    display: flex;
    width: 360px;
}

.section-3 .advantages .icon {
    margin-bottom: 10px;
}

.section-4 {
    padding: 116px 140px;
    margin: 0 auto;
}

.section-4 .cols {
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 40px;
    margin: 62px 0 24px;
}

.section-4 .col {
    background: #F4F4F8;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 36px;
    height: fit-content;
    display: inline-block;
}

.section-4 .feedback-btns .btn.feedback {
    margin: 0px 8px;
}

.section-4 .feedback-btns .btn.feedback.facebook {
    background: white;
    color: #4D1299;
}

.section-4 .feedback-btns .btn.feedback.facebook:hover {
    background: #4D1299;
    color: white;
}

.section-4 .col img {
    margin-top: 8px;
}

.section-4 h2 {
    font-weight: 700;
    font-size: 46px;
    text-align: center;
}

.section-5 {
    background: #F4F4F8;
    padding: 110px;

}

.section-5 .container {
    background: #EBE7F3;
    border-radius: 30px;
}

.section-5 .container .content {
    padding: 110px 60px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.section-5 .col {
    background: #F4F4F8;
    padding: 40px;
    margin-bottom: 64px;
    width: calc(100% /2 - 100px);
    border-radius: 30px;
    text-align: left;
}

.section-2 h2,
.section-5 h2 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 60px;
}

.section-5 .container .content::before {
    content: "";
    height: 140px;
    width: 140px;
    background: url(../images/home-page-pictures/sponge.svg);
    position: absolute;
    top: 45%;
    right: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.section-5 .container .content::after {
    content: "";
    height: 156px;
    width: 156px;
    background: url(../images/home-page-pictures/hand-brush.svg);
    position: absolute;
    top: 76%;
    left: 1%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

/* _____!FOOTER!_____ */
footer {
    background: #EBE7F3;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    /* padding: 60px 140px 0; */
    padding-top: 60px;
    margin-bottom: 14px;
}

/* container */
footer .container {
    width: auto;
}

footer .container p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

footer .container a {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 8px;
    /* cursor: pointer; */
}

footer .container a:hover {
    color: #4D1299;
    border-bottom: 1px solid #4D1299;
}

footer .container .contacts li a {
    font-weight: 700;
    color: #4D1299;
}

footer .container svg {
    padding-top: 16px;
}

footer .container .support a svg {
    fill: white;
}

footer .container .support a svg:hover {
    fill: silver;
}

/* info */
footer .info {
    padding: 109px 0px 16px;
}

footer .info p {
    padding: 0 25px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #1B1B1B;
    opacity: 60%;
}